* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  height: 300px;
}

header .container-header__redes {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
}

header .container-header__redes .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .container-header__redes .icons a {
  text-decoration: unset;
}

header .container-header__redes .icons a span {
  color: #032f40;
}

header .container-header__redes .icons a span:hover {
  color: #167362;
}

header .container-header__nav {
  width: 100%;
  height: 250px;
}

header .container-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 2.5fr 2.8fr 1.5fr 1.5fr 1.5fr 1.5fr;
      grid-template-columns: 1fr 2.5fr 2.5fr 2.8fr 1.5fr 1.5fr 1.5fr 1.5fr;
  width: 100%;
  height: 250px;
  padding: 0 30px;
  justify-items: center;
  list-style: none;
}

header .container-nav__list {
  width: 100%;
  padding-top: 90px;
  text-align: center;
}

header .container-nav__list a {
  padding: 0 9px;
  text-decoration: none;
  color: #032f40;
  font-size: 1.9rem;
}

header .container-nav__list a:hover {
  text-decoration: underline;
  color: #167362;
}

header .container-nav__list a:active {
  text-decoration: underline;
  color: #d90404;
}

header .container-nav__list::after {
  font-size: 2rem;
  content: " | ";
}

header .container-nav__img {
  width: 150px;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
  height: 100%;
  height: 1000px;
  background-image: url(../assets/img/111.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: 1fr 2fr 1fr 3fr 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 3fr 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  width: 100%;
}

.container-eslogan {
  -ms-grid-column: 4;
  grid-column: 4;
  width: 100%;
  height: auto;
  padding-top: 50px;
  text-align: center;
}

.container-eslogan p {
  color: #032f40;
  font-size: 3.5rem;
}

.container-generales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  padding-top: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-generales .container-generales__mv {
  width: 40%;
  height: 330px;
  padding: 20px;
  position: relative;
}

.container-generales .container-generales__mv:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.container-generales p {
  position: relative;
  padding-top: 30px;
  font-size: 2rem;
  color: white;
  text-align: justify;
}

.container-generales h2 {
  position: relative;
  font-size: 3rem;
  color: white;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #167362;
}
/*# sourceMappingURL=main.css.map */