@import "./componentes/_globales.scss";
@import "./componentes/_header.scss";

.container-main-home {
	width: 100%;
}

.container-eslogan {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../assets/img/img1-small.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.container-eslogan__text {
	width: 100%;
    height: 100%;
	padding: 110px 30px 0px 30px;
	font-size: 30px;
	font-weight:bold;
	line-height: 45px;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	
}

.wrapper {
	width: 90%;
	margin: auto;
	overflow:hidden;
	text-align: justify;
}

.container-generales {
	width: 100%;
	display: grid;
	grid-template-rows: 2;
}

.container-generales__mision {
	padding: 50px 0px;
	color: $color-primary;
	h1 {
		font-size: 25px;
		color: $color-primary;
	}

	p {
		padding-top: 20px;
		font-size: 17px;
		line-height: 25px;
	}
}

.container-generales__vision {
	width: 100%;
	padding: 50px 20px 50px 20px;
	background-color: $color-primary;
	color: #fff;
	h1 {
		font-size: 25px;
	}

	p {
		padding-top: 20px;
		font-size: 17px;
		line-height: 25px;
	}
}

.container-main-alabanza {
	@extend .container-eslogan;
}

@import "./componentes/_footer.scss";