body {
	background:white;
}

header {
	width:100%;
	background-color: #fff;
}

.menu_bar {
	display:none;
	height: 60px;//Da la altura de la clase .menu_bar
}

.container-nav {
	width:100%;
	background: $color-primary;
}

.container-nav {
	overflow:hidden;
	list-style:none;
}

.container-nav__list--item {
	float:left;
}

.container-nav__list--item a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	font-size: 16px;
}

.container-nav__list--item span {
	margin-right:15px;
}

.container-nav__list--item a:hover {
	background: $color-primary;
}

@media screen and (max-width:800px ) {
	.container-nav {
		width:80%;//anchura del menu desplegable
		height:90%;//altura del menu desplegable
		left:-100%;
		margin:0;
		position: fixed;
	}

	.menu_bar {
		display:block;
		width:100%;
		background: $color-primary;
		position: fixed;//inmovilizamos este bloque para que no se oculte al hacer scroll
	}

	.menu_bar .bt-menu {
		display:block;
		height: 100%;
		padding: 18px 30px;//Ubica el icon menu
		background:$color-primary;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;//ubica el icon menu a la derecha
		font-size:24px;//tamaño del icon menu
	}

	.container-nav__list--item {
		display:block;
		float:none;
		border-bottom:1px solid $color-gris;
	}	
}	

.container-header__nav {
	width: 100%;
	height: 250px;
}

.container-nav__list .icons {
	width: 70%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items:flex-end;
	margin: 0 auto;
	padding-bottom: 10px;

	a {
		text-decoration: none;
		font-size: 20px;
		color:#fff
	}
}

.container-nav__logo-secundario {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 50px;

	img {
		width: 120px;
	}
}

.container-nav__logo {
	width: 100%;
	height: auto;
	display: flex;
	padding-top: 60px;
	justify-content: center;

	img {
		width: 70px;
	}
}
