body {
	background:white;
}

header {
	width:100%;
	background-color: #fff;
	position: fixed;
    border-bottom: 3px solid $color-primary;

}

.menu_bar {
	display:none;
	height: 80px;
}

.container-nav {
	width:100%;
	background: $color-primary;
}

.container-nav {
	overflow:hidden;
	list-style:none;
}

.container-nav__list--item {
	float:left;
}

.container-nav__list--item a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	font-size: 16px;
}

.container-nav__list--item span {
	margin-right:15px;
}

.container-nav__list--item a:hover {
	background: $color-primary;
}

@media screen and (max-width:800px ) {
	.container-nav {
		width:85%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	.menu_bar {
		display:block;
		width:100%;
		background: $color-primary;
	}

	.menu_bar .bt-menu {
		display:block;
		height: 80px;
		padding: 20px 25px;
		background:$color-primary;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:left;
		font-size:40px;
	}

	.container-nav__list--item {
		display:block;
		float:none;
		border-bottom:1px solid $color-gris;
	}	
}	

.container-header__nav {
	width: 100%;
	height: 250px;
}

.container-nav__list .icons {
	width: 70%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items:flex-end;
	margin: 0 auto;
	padding-bottom: 10px;

	a {
		text-decoration: none;
		font-size: 20px;
		color:#fff
	}
}

.container-nav__logo-secundario {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 50px;

	img {
		width: 120px;
	}
}

.container-nav__img {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 5px 0;

	img {
		width: 100px;
	}
}
.container-main {
	width: 100%;
}

.container-eslogan {
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 240px;
	
}

.container-eslogan__text {
	width: 100%;
	height: 100%;
	padding: 100px 30px 0px 30px;
	font-size: 23px;
	font-weight:bold;
	line-height: 30px;
	letter-spacing: 1.5px;
	text-align: center;
	color: #fff;
	background-image: url(../assets/img/img2-small.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	width: 90%;
	margin: auto;
	overflow:hidden;
	text-align: justify;
}

.container-generales {
	width: 100%;
	display: grid;
	grid-template-rows: 2;
}

.container-generales__mision {
	padding: 50px 0px;
	color: $color-primary;
	h1 {
		font-size: 25px;
		color: $color-primary;
	}

	p {
		padding-top: 20px;
		font-size: 17px;
		line-height: 25px;
	}
}

.container-generales__vision {
	width: 100%;
	padding: 50px 20px 50px 20px;
	background-color: $color-primary;
	color: #fff;
	h1 {
		font-size: 25px;
	}

	p {
		padding-top: 20px;
		font-size: 17px;
		line-height: 25px;
	}
}