body {
	background:white;
}

header {
	width:100%;
}

header nav {
	width:100%;
	background: $color-primary;
}

.menu_bar {
	display:none;
	height: 80px;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	font-size: 18px;
}

header nav ul li span {
	margin-right:15px;
}

header nav ul li a:hover {
	background: $color-primary;
}

section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid $color-gris;
	}

	.menu_bar {
		display:block;
		width:100%;
		background: $color-primary;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:$color-primary;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}	
	img {
		width: 150px;
		
		
	}
	

